@import "./constants.scss";

:export {
  font_family: $font_family;
  font_size: $font_size;
  font_color: $font_color;
  primary_color: $primary_color;
  dark_color: $dark_color;
  light_color: $light_color;
  menu_top: $menu_top;
  menu_left: $menu_left;
}
